body {
    text-align: center;
}

#progress {
    display: flex;
    justify-content: center;
}

#game {
    border: 1px solid hsl(348, 100%, 61%);;
}

#start-button {
    display: block;
    margin: 0 auto;
}

#count-down, #game, #result {
    display: none;
}